<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- CODIGO ORIGINAL --}}
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom-8.css">
  <script src="https://kit.fontawesome.com/187dbd9ab8.js" crossorigin="anonymous"></script> {{!-- Iconos footer --}}
  <title>{{title}}</title>
</head>

<body>
  {{> navbar }}

  <h1>:-D</h1>
  <h2>{{product.name}} </h2>
  <p>{{product.description}} </p>
  <p>{{product.price}} €</p>

  <a href="/tienda/{{product._id}}/edit">Editar</a>
  <!-- Botón para abrir el modal de edición -->
  <button type="button" class="btn btn-primary" onclick="openEditModal()">Editar producto</button>


  <form action="/tienda/{{product._id}}/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Eliminar</button>
  </form>

  {{> modalShow}}


  {{> footerScript}}
  {{!-- CODIGO ORIGINAL --}}
{{!--   <!-- ESTO LINKEA EL POPPER DE BOOTSTRAP ONLINE -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <!-- ESTO LINKEA EL JS DE BOOTSTRAP DESCARGADO -->
  <script src="../js/bootstrap.min.js"></script> --}}
  {{> modalScript}}
</body>

</html>